// app global css in SCSS form
.q-page-container.main-layout {
  padding-top: 0 !important;
}

@font-face {
  font-family: 'custom-font';
  src: url('./fonts/Poppins-Bold.ttf');
  src: url('./fonts/Poppins-SemiBold.ttf');
  src: url('./fonts/Poppins-Medium.ttf');
}

.p-bold {
  font-family: 'custom-font', 'Poppins-Bold';
}

.p-medium {
  font-family: 'custom-font', 'Poppins-SemiBold';
}

.p-normal {
  font-family: 'custom-font', 'Poppins-Medium';
}

.signupcard{
  border-radius: 0px 0px 0px 0px !important;
}
.q-card {
  border-radius: 20px 20px 20px 20px;
}

.q-page {
  font-family: 'custom-font', 'Poppins-Bold';
}

.q-dialog {
  font-family: 'custom-font', 'Poppins-Bold';
}

.__border-radius {
  border-radius: 10px 10px 10px 10px !important;
}

.fadeInRight{
  --animate-duration:1500ms;
  --animation-delay: 2s;
}

.fadeInUp{
  --animate-duration:1500ms;
  --animation-delay: 3s;
}

.fadeInLeft{
  --animate-duration:1500ms;
  --animation-delay: 4s;
}


